<!doctype html>
<html lang="en-US">
	<head>
		<title>{{title}} Hapi Framework, Handlebars Templating</title>
		<meta name="description" content="Node.js, Hapi.js and Handlebars.js Your server side javascript web application" /> 
		<meta name="keywords" content="node.js, hapi.js, handlebars.js" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/main.css" />
	</head>
	<body>
		{{> header}}

		{{{content}}}

		{{> scripts}}
	</body>
</html>